*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  width: 100%;
  height: 100vh;
  background: rgb(124, 124, 124);
  background: url('/CSS/images/index-banner-xl.jpg');
  background-size: cover;
}




.logo{
  height: 50px;
}