@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cantarell', sans-serif;
}

.header{
  width: 100%;
  height: 100vh;
  background: rgb(124, 124, 124);
  background: url('/CSS/images/index-banner-xl.jpg');
  background-size: cover;
}

.logo{
  height: 50px;
}

.tituloBanner{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: right;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

.tituloBanner h1{
  font-size: 200px;
  font-weight: 700;
}

.tituloBanner h3{
  font-style: italic;
  font-weight: 400;
}

/* CARDS DE BICICLETAS */
.productos{
  margin: 5% 15% 5% 15%;
}


/* FOOTER  */
footer{
  margin: 5% 15% 1% 15%;
}

.footerContenedor{
  display: flex;
  justify-content: space-around;
}

.footerCard{
  width: 200px;
  height: 500px;
}

.copyright{
  text-align: center;
}